body{
    background-image: url('./img/wall.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px auto;
    color: #3c87ef;
    
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(94, 90, 90);
    
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    background-color: #588;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #c5c0c0;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #9d07b1;
}

input[type="reset"]:hover{
    background: #dd660b;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#588;
    color: #fff;
}
.edit {
    background-color: #3c87ef;
}

.delete {
    background-color: #dc0404;
}